@import "tailwindcss";
/* color primario: #1791cf */
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #7adeff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -9.6px; /* Centers thumb on the track */
  background-color: #2b6869;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #2b6869;
  outline-offset: 0.125rem;
}
