@import "tailwindcss";
/* color primario: #1791cf */
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.div-welcome{
    background-image: url('/bg-welcome.jpg');
    background-size: cover;
    background-position: -35px;
    overflow: hidden;
    /* filter: blur(2px); */

}

.text-welcome{
    text-shadow: 2px 2px 10px #242424;
}